<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <a class="i" href="https://github.com/22a/cardioid#cardioid" target="_blank"> ℹ️ </a>
    <!--<audio autoplay loop>
      <source src="3" type="audio/ogg">
    </audio>-->
    <p>
      0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811
    </p>
    <button id="downloadSVG">Download .svg</button>

    <button id="play">Play</button>
    <button id="pause">Pause</button>

    <input type="number" id="factor" value="2" step="1">
    <input type="number" id="modulo" value="200" step="1">

    <div id="ratio"></div>
  </body>
</html>
