<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <a class="i" href="https://github.com/22a/cardioid#cardioid" target="_blank"> ℹ️ </a>
    <audio autoplay loop>
      <source src="3" type="audio/ogg">
    </audio>
  </body>
</html>
