<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="s.css" type="text/css" media="all" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <a class="i" href="https://github.com/22a/cardioid#readme" target="_blank">
      ℹ️
    </a>
    <audio autoplay loop>
      <source src="3.3" type="audio/ogg">
    </audio>
  </body>
</html>
